# This file excludes files during npm pack
.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
.gitignore
package-lock.json
tsconfig.json
tslint.json
.github/**
test-results.xml
.azure-pipelines/**

.azure-pipelines/**
.github/**
.vscode/**
build/**
node_modules/**
out/**
src/**
test/**
dist/test/**
testOutput/**
typings/**
**/*.ts
gulp*
webpack.config*
stats.json
*.tgz
