# These files are excluded during vsce package
.azure-pipelines/**
.eslintignore
.eslintrc.js
.github/**
.gitignore
.vscode-test/**
.vscode/**
*.tgz
**/*.map
**/*.ts
build/**
dist/test/**
gulp*
node_modules/**
out/**
src/**
stats.json
test-results.xml
test/**
testOutput/**
tsconfig.json
typings/**
webpack.config*
