steps:
- script: |
    sudo cp .azure-pipelines/linux/xvfb.init /etc/init.d/xvfb
    sudo chmod +x /etc/init.d/xvfb
    sudo update-rc.d xvfb defaults
    sudo service xvfb start
  displayName: 'Start X Virtual Frame Buffer'
  condition: eq(variables['Agent.OS'], 'Linux')

# needed for .NET nightly tests
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 2.1.x'
  inputs:
    version: 2.1.x
  condition: eq(variables['ENABLE_LONG_RUNNING_TESTS'], 'true')

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 3.1.x'
  inputs:
    version: 3.1.x
  condition: eq(variables['ENABLE_LONG_RUNNING_TESTS'], 'true')

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 5.0.x'
  inputs:
    version: 5.0.x
  condition: eq(variables['ENABLE_LONG_RUNNING_TESTS'], 'true')

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 6.0.x'
  inputs:
    version: 6.0.x
  condition: eq(variables['ENABLE_LONG_RUNNING_TESTS'], 'true')

- task: Npm@1
  displayName: 'Test'
  inputs:
    command: custom
    customCommand: test
  env:
    SERVICE_PRINCIPAL_CLIENT_ID: $(SERVICE_PRINCIPAL_CLIENT_ID)
    SERVICE_PRINCIPAL_SECRET: $(SERVICE_PRINCIPAL_SECRET)
    SERVICE_PRINCIPAL_DOMAIN: $(SERVICE_PRINCIPAL_DOMAIN)
    DISPLAY: :10 # Only necessary for linux tests

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFiles: '*-results.xml'
    testRunTitle: '$(Agent.OS)'
  condition: succeededOrFailed()
